body {
    margin: 0;
    padding: 0;
    background-image: url("/img/background-login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 60% 30%;
}